.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.scrutinizer.yml export-ignore
README.md export-ignore
UPGRADING.md export-ignore
phpstan.neon export-ignore
test/ export-ignore
